body,
html {
  background-color: rgba(0, 0, 0, 0); 
  color: black;
}

#about-section .title {
  color: black;
}

#about-section .profession {
  color: black;
}

#about-section .description {
  color: black;
}

#about-section .social-links a {
  color: black;
}

#about-section .social-links a:hover {
  color: white;
}

#about-section .social-links a:active {
  color: white;
}

.projects-title {
  color: black;
}

.project-item .project-name {
  color: black;
}

.project-item .project-description {
  color: black;
}

.project-item .project-links a {
  color: black;
}

.project-item .project-links a:hover {
  color: white;
}

.project-item .project-links a:active {
  color: white;
}

#footer {
  color: black;
}

.acrylic {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-screen.hidden .loading-text {
  opacity: 0;
  visibility: hidden;
}

:root {
  --dot1-color: #ffffff; /* Purple */
  --dot2-color: #ffffff; /* Indigo */
  --dot3-color: #ffffff; /* Blue */
  --dot4-color: #ffffff; /* Deep Sky Blue */
  --dot5-color: #ffffff; /* Cyan */
  --bg-color: rgb(0, 0, 0); /* Black */
}
