body,
html {
  background-color: rgba(0, 0, 0, 0);
  color: #333;
}

#about-section .img-container img {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

#about-section .title {
  color: #333;
}

#about-section .profession {
  color: #555;
}

#about-section .description {
  color: #444;
}

#about-section .social-links a {
  color: #555;
}

#about-section .social-links a:hover {
  color: #4b0082;
}

#about-section .social-links a:active {
  color: #800080;
}

.projects-title {
  color: rgb(0, 0, 0);
}

.project-item .project-name {
  color: #333;
}

.project-item .project-description {
  color: #444;
}

.project-item .project-links a {
  color: #555;
}

.project-item .project-links a:hover {
  color: #4b0082;
}

.project-item .project-links a:active {
  color: #800080;
}

#footer {
  color: rgba(0, 0, 0, 0.5);
}

.acrylic {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-screen.hidden .loading-text {
  opacity: 0;
  visibility: hidden;
}

:root {
  --dot1-color: #ff0000;
  --dot2-color: #ff4000;
  --dot3-color: #ff8000;
  --dot4-color: #ffc000;
  --dot5-color: #ffff00;
  --bg-color: rgb(255, 255, 255);
}
